.directors__work {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  margin-left: auto;
  margin-right: auto;
}

.directors__video-section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 70%;
}

.directors__title2 {
  font-size: var(--size-base);
  padding-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 800px;
  color: var(--clr-dark-orange);
}

.directors__name2 {
  font-size: var(--size-4xl);
  color: var(--clr-main-text-white);
  padding-bottom: 3rem;
  width: 800px;
}

.directors__video-container2 img {
  width: 100%;
  max-width: 800px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.right-content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  padding-top: 40px;
  margin-left: 2rem;
  /* border: 1px solid red; */
}

.right-content2 img {
  width: var(--size-2xl);
  height: auto;
  padding-bottom: 35px;
}

.spot-name {
  font-size: var(--size-4xl);
  color: var(--clr-main-text-white);
  padding-bottom: 0.5rem;
  /* border: 1px solid #0099ff; */
}

.client-name {
  font-size: var(--size-2xl);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* 2xl */
/* @media (max-width: 1536px) {} */

/* xl */
@media (max-width: 1280px) {
  .directors__title2 {
    font-size: var(--size-sm);
    width: 650px;
  }

  .directors__name2 {
    padding-bottom: 2.5rem;
    width: 650px;
    font-size: var(--size-2xl);
  }

  .directors__video-container2 img {
    max-width: 650px;
  }

  .right-content2 img {
    width: var(--size-xl);
    padding-bottom: 30px;
  }

  .client-name {
    font-size: var(--size-xl);
  }

  .spot-name {
    font-size: var(--size-2xl);
  }
}

/* lg */
@media (max-width: 1024px) {
  .right-content2 {
    margin-left: 1.5rem;
  }

  .directors__title2 {
    font-size: var(--size-xs);
    padding-bottom: 0.5rem;
    width: 500px;
  }

  .directors__name2 {
    width: 500px;
    padding-bottom: 1.5rem;
  }

  .directors__video-container2 img {
    max-width: 500px;
  }

  .right-content2 img {
    width: var(--size-xl);
    padding-bottom: 20px;
  }

  .client-name {
    font-size: var(--size-base);
  }

  .spot-name {
    font-size: var(--size-xl);
  }
}

/* md */
@media (max-width: 768px) {
  .directors__work {
    flex-direction: column;
  }

  .directors__video-section2 {
    align-items: center;
    width: 500px;
  }

  .directors__title2 {
    font-size: var(--size-xs);
    padding-bottom: 0.5rem;
  }

  .directors__name2 {
    width: 500px;
    padding-bottom: 1.5rem;
  }

  .right-content2 {
    width: 500px;
    padding-top: 20px;
    margin-left: 0px;
    /* border: 1px solid #0099ff; */
  }

  .right-content2 img {
    width: var(--size-xl);
    padding-bottom: 20px;
  }

  .client-name {
    font-size: var(--size-2xl);
  }

  .spot-name {
    font-size: var(--size-2xl);
  }
}

/* sm */
@media (max-width: 640px) {
  .directors__video-section2 {
    width: 400px;
  }

  .directors__title2 {
    width: 400px;
  }

  .directors__name2 {
    width: 400px;
  }

  .directors__video-container2 img {
    width: 400px;
  }

  .right-content2 {
    width: 400px;
    padding-top: 20px;
    margin-left: 0px;
  }

  .directors__title2 {
    font-size: var(--size-xs);
    padding-bottom: 0.5rem;
  }

  .right-content2 img {
    width: var(--size-xl);
    padding-bottom: 20px;
  }

  .client-name {
    font-size: var(--size-2xl);
  }

  .spot-name {
    font-size: var(--size-2xl);
  }
}

/* xs */
@media (max-width: 475px) {
  .directors__video-section2 {
    width: 300px;
  }

  .directors__title2 {
    width: 300px;
    font-size: var(--size-xs);
  }

  .directors__name2 {
    width: 300px;
  }

  .directors__video-container2 img {
    width: 300px;
  }

  .right-content2 {
    width: 300px;
    padding-top: 15px;
  }
}

/* xxs */
@media (max-width: 320px) {
  .directors__video-section2 {
    width: 250px;
  }

  .directors__title2 {
    width: 250px;
  }

  .directors__video-container2 img {
    width: 250px;
  }

  .right-content2 {
    width: 250px;
    padding-top: 10px;
  }
}
