/* General Styles */
.featured-work {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* overflow: hidden; */
}

.video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 70%;
  /* border: 1px solid #0099ff; */
}

.featured-projects {
  font-size: var(--size-base);
  padding-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 800px;
  color: var(--clr-main-text-white);
  /* border: 1px solid #0099ff; */
}

.video-container img {
  width: 100%;
  max-width: 800px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  padding-top: 40px;
  margin-left: 2rem;
  /* border: 1px solid red; */
}

.right-content img {
  width: var(--size-2xl);
  height: auto;
  padding-bottom: 35px;
}

.director-name {
  font-size: var(--size-4xl);
  color: var(--clr-main-text-white);
  padding-bottom: 0.5rem;
  /* border: 1px solid #0099ff; */
}

.project-type {
  font-size: var(--size-base);
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 3rem;
  color: var(--clr-dark-orange);
  /* border: 1px solid #0099ff; */
}

.project-client {
  font-size: var(--size-base);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 0.5rem;
  /* border: 1px solid #0099ff; */
}

.project-name {
  font-size: var(--size-2xl);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  /* border: 1px solid #0099ff; */
}

.more-link {
  padding-top: 4rem;
}

/* 2xl */
/* @media (max-width: 1536px) {} */

/* xl */
@media (max-width: 1280px) {
  .featured-projects {
    font-size: var(--size-sm);
    width: 650px;
  }

  .video-container img {
    max-width: 650px;
  }

  .right-content img {
    width: var(--size-xl);
    padding-bottom: 30px;
  }

  .director-name {
    font-size: var(--size-2xl);
  }

  .project-type {
    font-size: var(--size-sm);
    padding-bottom: 2.5rem;
  }

  .project-client {
    font-size: var(--size-sm);
  }

  .project-name {
    font-size: var(--size-xl);
  }

  .more-link {
    padding-top: 3rem;
    font-size: var(--size-sm);
  }
}

/* lg */
@media (max-width: 1024px) {
  .right-content {
    margin-left: 1.5rem;
  }

  .featured-projects {
    font-size: var(--size-xs);
    width: 500px;
  }

  .video-container img {
    max-width: 500px;
  }

  .right-content img {
    width: var(--size-xl);
    padding-bottom: 20px;
  }

  .director-name {
    font-size: var(--size-base);
  }

  .project-type {
    font-size: var(--size-xs);
    padding-bottom: 2rem;
  }

  .project-client {
    font-size: var(--size-xs);
  }

  .project-name {
    font-size: var(--size-base);
  }

  .more-link {
    padding-top: 3rem;
    font-size: var(--size-xs);
  }
}

/* md */
@media (max-width: 768px) {
  .featured-work {
    flex-direction: column;
  }

  .video-section {
    align-items: center;
    width: 500px;
  }

  .featured-projects {
    width: 500px;
    font-size: var(--size-base);
    padding-bottom: 1.5rem;
  }

  .video-container img {
    width: 500px;
  }

  .right-content {
    width: 500px;
    padding-top: 20px;
    margin-left: 0px;
  }

  .video-container img {
    max-width: 500px;
  }

  .right-content img {
    width: var(--size-xl);
    padding-bottom: 20px;
  }

  .director-name {
    font-size: var(--size-2xl);
  }

  .project-type {
    font-size: var(--size-sm);
    padding-bottom: 2rem;
  }

  .project-client {
    font-size: var(--size-base);
  }

  .project-name {
    font-size: var(--size-2xl);
  }

  .more-link {
    font-size: var(--size-base);
  }
}

/* sm */
@media (max-width: 640px) {
  .video-section {
    width: 400px;
  }

  .featured-projects {
    width: 400px;
    padding-bottom: 1rem;
    font-size: var(--size-sm);
  }

  .video-container img {
    width: 400px;
  }

  .right-content {
    width: 400px;
    padding-top: 15px;
  }

  .director-name {
    font-size: var(--size-xl);
  }

  .project-type {
    font-size: var(--size-xs);
    padding-bottom: 1.5rem;
  }

  .project-client {
    font-size: var(--size-sm);
  }

  .project-name {
    font-size: var(--size-xl);
  }

  .more-link {
    font-size: var(--size-sm);
  }
}

/* xs */
@media (max-width: 475px) {
  .video-section {
    width: 300px;
  }

  .featured-projects {
    width: 300px;
    font-size: var(--size-xs);
  }

  .video-container img {
    width: 300px;
  }

  .right-content {
    width: 300px;
    padding-top: 15px;
  }

  .director-name {
    font-size: var(--size-xl);
  }

  .project-type {
    font-size: var(--size-xxs);
    padding-bottom: 1.5rem;
  }

  .project-client {
    font-size: var(--size-xs);
  }

  .project-name {
    font-size: var(--size-base);
  }

  .more-link {
    font-size: var(--size-xs);
  }
}

/* xxs */
@media (max-width: 320px) {
  .video-section {
    width: 250px;
  }

  .featured-projects {
    width: 250px;
  }

  .video-container img {
    width: 250px;
  }

  .right-content {
    width: 250px;
    padding-top: 10px;
  }
}
