/* ---Directors Section--- */
.home {
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.home__directors {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid red;
  position: relative;
  transform: translateX(20rem); /* Shifts it 40px to the right */
}

.home__title {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 8px;
  opacity: 0.2;
  font-weight: bold;
  padding-bottom: 1rem;
  color: var(--clr-dark-orange);
}

.home__directors a {
  font-size: 1rem;
  color: var(--clr-slate-400);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  opacity: 0.5;
  font-weight: bold;
  transition: all 0.3s;
}

.home__directors a:hover {
  color: #ef9622;
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}

/* 2xl */
/* @media (max-width: 1536px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
@media (max-width: 1024px) {
  .home__directors {
    transform: translateX(8rem);
  }
}

/* md */
@media (max-width: 768px) {
  .home__directors {
    transform: translateX(0rem);
  }
  .home__title {
    font-size: var(--size-2xl);
    text-transform: uppercase;
    letter-spacing: 8px;
  }

  .home__directors a {
    font-size: var(--size-base);
  }
}

/* sm */
/* @media (max-width: 640px) {} */

/* xs */
/* @media (max-width: 475px) {} */

/* xxs */
@media (max-width: 320px) {
  .home__title {
    font-size: var(--size-xl);
    text-transform: uppercase;
    letter-spacing: 8px;
  }

  .home__directors a {
    font-size: var(--size-sm);
  }
}
