:root {
  --clr-zinc-900: #18181b;
  --clr-slate-400: #94a3b8;
  --clr-slate-600: #475569;
  --clr-slate-800: #1e293b;
  --clr-maroon: #800000;
  --clr-background-charcoal: #1a1a1a;
  --clr-main-text-white: #e7e7e7;
  --clr-light-orange: #ef9622;
  --clr-dark-orange: #ff4e00;
  --clr-red: #ff4500;
  --clr-grad: linear-gradient(
    to right,
    var(--clr-light-orange),
    var(--clr-dark-orange)
  );

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--clr-background-charcoal);
  color: var(--clr-main-text-white);
  overflow: hidden;
  /* width: 100%; */
  background-color: var(--clr-background-charcoal);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
